.home-text {
  color: #ffffff;
  font-family: "Galyon Book-Book", Helvetica;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.featuredCarousal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 939px;
  height: 281px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: black;
  object-fit: cover;
}

.carousel {
  padding-left: 55px;
}

.cardStyle {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 30px;
  margin-left: auto;
  padding-left: 14px;

  margin-right: auto;
  width: 350px;
  height: 330px;
  flex-shrink: 0;
  background-color: #26292b;
}

.home-text2 {
  color: #fff;
  font-family: "Galyon Book-Book", Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: -15px;
  text-decoration: none;
}

.home-text3 {
  color: #fff;
  font-family: "Galyon Book-Book", Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin-left: -15px;
  line-height: normal;
  text-decoration: none;
}

.home-text4 {
  color: #aac3ff;
  font-family: "Helvetica-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  top: 0;
  width: 193px;
}

.item-slider-container .item-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 15px;
}

.item-slider {
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.item-slider .item-container {
  display: inline-flex;
  justify-content: flex-start;
  overflow-x: scroll;
  padding: 0px 5px;
  width: 939px;
}

.item-slider .item-container span {
  margin: 0px 20px;
}

.item-slider .item-container::-webkit-scrollbar {
  display: none;
}

.item-slider .left-arrow-left {
  position: absolute;
  left: 15px;
  cursor: pointer;
  z-index: 1;
}

.item-slider .right-arrow-right {
  position: absolute;
  right: 0px;
  cursor: pointer;
  z-index: 1;
}

.right-arrow-right > svg,
.left-arrow-left > svg {
  color: #c3c3c1;
}

.right-arrow-right svg:hover,
.left-arrow-left svg:hover {
  color: #5b5b5b;
  border-radius: 50%;
}

/* Card item styles */
.item-container .card {
  border: unset;
}

.item-container .card span {
  padding: 0;
  margin: 0;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
