.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.navbar {
  width: 250px;
  height: 100vh;
  background-color: black;
}

.navbar-item {
  padding: 10px;
  background-color: black !important;
  color: rgba(255, 255, 255, 0.727) !important;
  text-decoration: none;
  text-align: left;
  align-items: left;
  border: 0 !important;
  font-size: 20px;
}

.navbar-item:hover {
  background-color: black;
  color: white !important;
  text-decoration: none;
  text-align: left;
  align-items: left;
  border: 0;
}

.navbar-item-active {
  padding: 10px;
  background-color: black !important;
  color: white !important;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  align-items: left;
  border: 0;
  font-size: 20px;
}

.nav-links {
  vertical-align: top;
}

.purple-button {
  display: inline-block;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 90%;
  color: #ffffff;
  background-color: #6243f5;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

/* Hover effect for the purple button */
.purple-button:hover {
  background-color: #aac4ff;
}

h6 {
  color: rgba(255, 255, 255, 0.727) !important;
  text-align: center;
  padding-right: 15%;
}
