.navbar {
    width: 350px;
    height: 100vh;
    background-color: black;
}

.navbar-item {
    align-items: center;
    padding: 10px;
    background-color: black !important;
    color: white !important;
    text-decoration: none;
    text-align: center;
    align-items: center;
    font-size: small;
    border: 0 !important;
    font-size: 20px;
}

.navbar-item:hover {
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    align-items: center;
    border: 0;
}

.nav-links {
vertical-align: top !important;
}