.navbar {
    width: 250px;
    height: 100vh;
    background-color: black;
}

.navbar-item {
    padding: 10px;
    background-color: black !important;
    color: rgba(255, 255, 255, 0.727) !important;
    text-decoration: none;
    text-align: left;
    align-items: left;
    border: 0 !important;
    font-size: 20px;
}

.navbar-item:hover {
    background-color: black;
    color: white !important;
    text-decoration: none;
    text-align: left;
    align-items: left;
    border: 0;
}

.navbar-item-active {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    text-decoration: none;
    font-weight: 600;
    text-align: left;
    align-items: left;
    border: 0;
    font-size: 20px;
}

.nav-links {
    vertical-align: top !important;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}